<div class="SmallBox" >
	<div class="MessageContainer">
		<div class="ErrorMessage">
			<b>The Following Errors Have Occurred:</b><br/>
			{% for error in errors %}
			<li>{{ error|raw }}</li>
			{% endfor %}
		</div>
	</div>
</div>
<br/>