<div class="TableContainer">
	<table class="Table1" cellpadding="0" cellspacing="0">
		<div class="CaptionContainer">
			<div class="CaptionInnerContainer">
				<div class="Text" >Pass leadership</div>
			</div>
		</div>
		<tr>
			<td>
				<div class="InnerTableContainer" >
					<table style="width:100%;">
						<tr>
							<td>Pass leadership to: </b><br>
								<form action="?subtopic=guilds&guild={{ guild.getName() }}&action=pass_leadership" method="post">
									<input type="hidden" name="todo" value="save"/>
									<input type="text" size="40" name="player"/>
									<input type="submit" value="Save">
								</form>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<br/>
<div style="text-align:center">
	<form action="?subtopic=guilds&guild={{ guild.getName() }}&action=manager" method="post">
		{{ include('buttons.back.html.twig') }}
	</form>
</div>