<table class="tickers" style="width: 100%">
	<tr class="tickersTitle">
		<td colspan="3">Tickers</td>
	</tr>
	{% for ticker in tickers %}
	<tr>
		<td style="width: 16px;"><img src="{{ template_path }}/images/news/icon_{{ ticker.icon }}_small.gif"/></td>
		<td style="width: 80px;">{{ ticker.date|date("j M Y") }}</td>
		<td>{{ ticker.body|raw }}</td>
	</tr>
	{% endfor %}
</table>
<br/>